label.error {
	color: #ea7f7f;
    font-weight: normal;
}
.loading-bar {
    background: url("/VMV2/resources/images/loading.gif") transparent no-repeat center left;
    background-size: contain;
    margin: 0 auto;
    display: none;
    height: 45px;
    padding-left: 53px;
    width: 100%;
    background-color: #e2f1d9;
    padding-top: 13px;
    margin-bottom: 10px;
}
#form-add-vaccine, #form-update-vaccine, #form-update-user {
	max-height: 450px;
	overflow: auto;
}
.image-view {
	width: 200px;
	display: block;
	margin: 10px auto 20px;
}
.image-view img {
	width: 100%;
	height: auto;
}
.image-view form-control {
	width: 100%;
}
